* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'lato';
}
header{
    

}
.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background: rgba(229, 84, 115, 0.10);
    background-size: cover;

}

.banner-content {
    display: flex;
    align-items: center;

}

.banner-info {
    margin-left: 240px;
}

.banner-heading {
    color: #272727;
    font-size: 70px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 15px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
}

.banner-picture {
    width: 600px;
    height: 800px;

}


.bonas-section-info {
    margin: 100px;
    margin-bottom: 50px;
    text-align: center;

}

.bonas-section-title {
    margin-bottom: 15px;
}

.bonas-section-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 50px;
}

.bonas-section{
    width: 80%;
    margin: auto;
}
.bonas-section-images{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    

}
.bonas-section-pic{
    width:465px;
    height:538px;
    box-shadow: 4px 5px 8px #FFF;
    border-radius: 5px;

    
}
.bonas-section-img{
    width: 100%;
    border-radius: 300px 300px 0px 0px;
}
.first-pic {
    
    background: rgba(167, 33, 98, 0.15);
    
}

.second-pic {
  
    background: rgba(5, 151, 160, 0.15);
    
}

.third-pic {
   
    background: rgba(71, 125, 17, 0.15);
    
}

.pic-title {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
    text-decoration: underline;
}

.hot-deal-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.05);
    margin-top: 100px;
}


.hot-deal-section-info {
    text-align: center;

}

.hot-deal-section-description {
    margin: 30px 30px 30px 160px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;

}

.hot-deal-section-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-left: 100px;

}

.hot-deal-section-icon {
    margin: 100px 250px 100px 50px;
}

.instagram-section {
    width: 80%;
    margin: auto;
}

.instagram-section-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;

}

.instagram-section-info {
    text-align: center;
}

.instagram-section-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 120px;
    margin-bottom: 25px;
}

.iinstagram-section-description {
    width: 594px;
    height: 60px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 10px;
    font-weight: 400px;


}
.instagram-imag{
    width:342px;
     height:396px;
     border: 5px #272727;
    border-radius: 5px;
.insta-pic{
    width: 100%;
    border-radius: 5px;
}
}
.marketing-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../image/Rectangle\ 9.png');
    background-position: center;
    height: 449px;
    margin: auto;
    margin-top: 122px;
    margin-bottom: 122px;
    text-align: center;
}

.dealing-title {
    margin-top: 100px;
    margin-bottom: 20px;
}

.dealing-title {
    margin-top: 20px;
    margin-bottom: 20px;

}

.discount-info {
    margin-bottom: 40px;
}

.placeholder {
    width: 700px;
    height: 45px;
    margin-right: 5px;
    padding: 10px 0px 10px 5px;
    border-radius: 8px;
    border: 0;
}

#flower {
    color: rgba(229, 84, 115, 1);
}

#shop {
    color: rgba(255, 255, 255, 1);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 449px;
    background-color: rgba(17, 16, 16, 1);

}

.footer-heading {
    margin-top: 130px;
    font-size: 48px;
}

.footer-description {
    margin-top: 25px;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.copright {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}